
<template name="Header">
  <header>
    <div class="title">
      <h1>Going Remote</h1><img src="../images/remote-logo.png"/>
    </div>
    <div class="nav">
      <div id="jobs" class="main-btn"> <a href="/"> <span>Jobs</span></a></div>
      <div id="articles" class="main-btn"><a href="/articles"><span>Articles</span></a></div>
    </div>
    <div class="branding"><a href="https://twitter.com/dotolo2" target="_blank">
        <div class="me"><i class="fa fa-twitter"></i><span>by</span><span>@dotolo2</span></div></a></div>
  </header>
</template>