
<template name="Header">
  <header>
    <div class="title">
      <h1>Going Remote</h1><img src="../images/favicon.png"/>
    </div>
    <span class="intro-text">Find remote jobs and collaborate with others!</span>
    {{>TwitterFollow}}
    <div class="nav">
        <div id="overflow" class="overflow">
            <img src="../images/overflow.svg" />
        </div>
        <a href="/">
        <div id="jobs" class="main-btn"> <span>Jobs</span></div>
    </a>
    <a href="/chat">
        <div id="chat" class="main-btn"> <span>Chat</span></div>
    </a>
    <a href="/login">
        <div id="login" class="main-btn"> <span>Login</span></div>
    </a>
    <a href="/join">
        <div id="join" class="main-btn"> <span>Join</span></div>
    </a>
    </div>
    <div class="branding"><a href="https://twitter.com/dotolo2" target="_blank">
        <div class="me"><i class="fa fa-twitter"></i><span>by</span><span>@dotolo2</span></div></a></div>
  </header>
</template>
