
<template name="Header">
  <header>
    <div class="header"></div>
    <div class="title">
      <h1>Going Remote</h1><img src="../images/remote-logo.png"/>
    </div>
    <div class="nav"><a href="/"> 
        <div id="jobs" class="main-btn"> <span>Jobs</span></div></a><a href="/articles">
        <div id="articles" class="main-btn"><span>Articles</span></div></a>
    </div>
    <div class="branding"><a href="https://twitter.com/dotolo2" target="_blank">
        <div class="me"><i class="fa fa-twitter"></i><span>by</span><span>@dotolo2</span></div></a></div>
  </header>
</template>