<template name="join">
    <header>
        <div class="title">
          <h1>Going Remote</h1><img src="../images/favicon.png"/>
        </div>
        <div class="nav">
            <a href="/">
                <div id="jobs" class="main-btn"> <span>Jobs</span></div>
            </a>
        </div>
        <span class="intro-text">Find remote jobs and collaborate with others!</span>
        <div class="join-wrapper">
            <div class="join-cta">
                <span>{{> loginButtons}}</span>
            </div>
        </div>
    </header>
    <div class="section offset-bkg">
        <div class="section-wrapper">
            <h2>
                Join GoingRemote!<br />
                A place to find jobs, ask questions, and make friends.
            </h2>
            <p>
                As a member of GoingRemote you will get access to featured
                remote jobs and access to #goingremotechat.
            </p>
        </div>
    </div>
    <div class="section blue-bkg">
        <div class="section-wrapper">
            <img src="../images/chat-image.png" alt="GoingRemote Chat" />
            <p>
                Find answers to your questions, work together on projects, find
                the best remote jobs for the best companies.
            </p>
        </div>
    </div>
    <div class="section offset-bkg">
        <div class="section-wrapper">
            <img src="../images/feat-jobs.png" alt="GoingRemote Jobs"/>
            <p>
                Get access to featured remote jobs before anyone else!
            </p>
        </div>
    </div>
    <div class="section purple-bkg">
        <div class="section-wrapper">
            <h2>Join today for only $30!</h2>
            <div class="profile-images">
                <img src="../images/profile-img-2.png" alt="Dylan Dotolo" />
                <img src="../images/profile-img.png" alt="Hailey Wright" />
            </div>
            <h3>GoingRemote is ran by @dotolo2 + @haileyywrightt </h3>
            <p>
                We plan on adding more and more features to GoingRemote.
                With your help we can create and grow an awesome community!
            </p>
            <div class="cta-wrapper">
                <div class="cta">
                    Join
                </div>
            </div>
        </div>
    </div>
</template>
