<template name="join">
    <header>
        <div class="title">
          <h1>Going Remote</h1><img src="../images/favicon.png"/>
        </div>
        <div class="nav">
            <a href="/">
                <div id="jobs" class="main-btn"> <span>Jobs</span></div>
            </a>
        </div>
        <span class="intro-text">Find remote jobs and collaborate with others!</span>
        <div class="join-wrapper">
            <div class="join-cta join-desktop">
                <a class="typeform-share link main-btn" href="https://dotolodylan2.typeform.com/to/bKDfkf" data-mode="1" target="_blank">Join</a>
                <script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})()</script>
            </div>
        </div>
    </header>
    <div class="section offset-bkg">
        <div class="section-wrapper">
            <h2>
                Join GoingRemote!<br />
                A place to find jobs, ask questions, and make friends.
            </h2>
            <p>
                As a member of GoingRemote you will get early access to featured
                remote jobs and access to #goingremote chat.
            </p>
            <div class="join-wrapper join-mobile">
                <div class="join-cta">
                    <a class="typeform-share link main-btn" href="https://dotolodylan2.typeform.com/to/bKDfkf" data-mode="1" target="_blank">Join</a>
                    <script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})()</script>
                </div>
            </div>
        </div>
    </div>
    <div class="section blue-bkg">
        <div class="section-wrapper">
            <img src="../images/chat-image.png" alt="GoingRemote Chat" />
            <p>
                Get access to the #goingremote chat group on slack! Where you can
                find answers to your questions, work together on projects, find
                the best remote jobs for the best companies.
            </p>
        </div>
    </div>
    <div class="section offset-bkg">
        <div class="section-wrapper">
            <img src="../images/feat-jobs.png" alt="GoingRemote Jobs"/>
            <p>
                Get access to featured remote jobs before anyone else!
            </p>
        </div>
    </div>
    <div class="section purple-bkg">
        <div class="section-wrapper">
            <h2>Join today for only $30!</h2>
            <div class="profile-images">
                <img src="../images/profile-img-2.png" alt="Dylan Dotolo" />
                <img src="../images/profile-img.png" alt="Hailey Wright" />
            </div>
            <h3 class="heading-outro-text">GoingRemote is ran by @dotolo2 + @haileyywrightt </h3>
            <p class="join-outro-text">
                We plan on adding more and more features to GoingRemote.
                With your help we can create and grow an awesome community!
            </p>
            <div class="cta-wrapper">
                <a class="typeform-share link cta" href="https://dotolodylan2.typeform.com/to/bKDfkf" data-mode="1" target="_blank">Join</a>
                <script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})()</script>
            </div>
        </div>
    </div>
</template>
