<template name="TwitterShare">
        <div class="twitter-share">
             <div class="twitter-banner center">
                 <a href="https://twitter.com/share" class="twitter-share-button" data-text="Check out this new job post -" data-via="goingremote" data-size="large" data-hashtags="remotejobs,digitalnomads,nomad">Tweet</a>
                 <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
             </div>
        </div>
</template>

<!--
<iframe allowtransparency="true" frameborder="0" scrolling="no"
     src="http://platform.twitter.com/widgets/tweet_button.1362636220.html#_=1363023601135&amp;
       count=none&amp;id=twitter-widget-0&amp;
       lang=en&amp;original_referer=http://localhost:3000&amp;
       text=Check out {{this}}!&amp;
       url=http://localhost:3000"&amp;size=m
     class="twitter-share-button twitter-count-none"
     style="width: 58px; height: 20px;"
     title="Twitter Tweet Button"
     data-twttr-rendered="true">
  </iframe> -->
