template(name="ArticleBoard")
    .container.summary
        h1 Latest Articles
        .wrapper
            {{#each articles}}
            {{> article}}
            {{/each}}
                
            
