template(name="ArticleBoard")
    .wrapper
        .summary
            h1 Latest Articles
        .grid
            {{#each articles}}
            {{> article}}
            {{/each}}
                    
            
