template(name="ArticleBoard")
    .wrapper
        .summary
            h1 Latest Articles
        .grid
            {#if Template.subscriptionsReady}}
            {{#each articles}}
            {{> article}}
            {{/each}}
            {{/if}}    
            
