template(name="article")
    .card
        a(href="{{url}}" target="_blank")
            img(src="{{image}}" width="100%")
            .overlay
                span {{info}}
                p {{excerpt}}
            .card-info
                span {{title}}
            
            
        
        
