template(name="article")
    a(href="{{url}}" target="_blank")
        .card
            img(src="{{image}}" width="100%")
            .overlay
                span {{info}}
                p {{excerpt}}
            .card-info
                span {{title}}
            
            
        
        
