template(name="Header")
    header
        .header
        .title
            h1 Going Remote
            img(src="../images/remote-logo.png")
        .nav
            #jobs(class="main-btn") 
                a(href="/") 
                    span Jobs
            //- #places(class="main-btn")
            //-     a(href="")
            //-         span Places
            #articles(class="main-btn")
                a(href="/articles")
                    span Articles
        .branding
            a(href="https://twitter.com/dotolo2" target="_blank")
                .me
                    i(class="fa fa-twitter")
                    span by
                    span @dotolo2
