template(name="Header")
    header
        .title
            h1 Going Remote
            img(src="../images/remote-logo.png")
        .nav
            #jobs(class="main-btn") 
                a(href="/jobboard") 
                    span Jobs
            #places(class="main-btn")
                a(href="")
                    span Places
            #articles(class="main-btn")
                a(href="")
                    span Articles
