template(name="job")
    .job-list
        .job
            .post-date
                {{date}}
            span(class="job-title") {{title}}
            span(class="job-company") {{company}}
            .apply
                a(href="https://weworkremotely.com{{url}}" target="_blank")    
                    span Apply
