.job-list
    .job
        .company-img
            img(src="images/twitter.png")
        span(class="job-title") Front-End Developer
        span(class="job-company") Twitter
        .apply
            span Apply
