template(name="job")
    .job-list
        .job
            //- .post-img
            //-     img(src="{{homeUrl}}{{image}}")
            span(class="job-title") {{title}}
            span(class="job-company") {{company}}
            .apply
                a(href="{{homeUrl}}{{url}}" target="_blank")    
                    span Apply
