template(name="job")
    .job-list
        .job
            .job-info
                span(class="job-title") {{title}}
                span(class="job-company") {{company}}
            .job-apply
                .apply
                    a(href="{{homeUrl}}{{url}}" target="_blank")    
                        span Apply
