template(name="JobBoard")
    .wrapper
        .summary
            h1 Reach remote workers across the globe.
            .post-job
                span Post a job
        include ./job.jade
        {{> reactiveTable collections=jobs}}
        
            
