template(name="JobBoard")
    body
        .wrapper
            .twitter-banner.summary
                span 
            .summary
                h1 Reach remote workers across the globe.
                    
                a(href="/postjob")
                    .post-job
                        span Post a job
            {{#if Template.subscriptionsReady}}
            {{#each jobs}}
            {{> job}}
            {{/each}}
            {{else}}
            .loading
                span Loading
            {{/if}}
            
            
