template(name="JobBoard")
    body
        .wrapper
            .summary
                h1 Reach remote workers across the globe.
                a(href="/postjob")
                    .post-job
                        span Post a job
            {{#each jobs}}
            {{> job}}
            {{/each}}
            
            
