@import 'var'

.wrapper
    width: 100%
    margin-top: 8px
.summary
    background-color: #f5f5f5
    width: 800px
    padding: 15px 0
    font-family: $font-main
    max-width: 1000px
    display: flex
    flex-direction: row
    align-items: center
    justify-content: center
    margin-bottom: 8px
    h1
        margin: 0
        padding: 0
    .post-job
        padding: 0
        margin: 0
        background-color: $blue
        color: #fff
        width: 100px
        height: 45px
        display: flex
        align-items: center
        justify-content: center
        border-radius: 5px
        margin-left: 10px
    .job-list
        width: 100%
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
