@import 'var'
.wrapper
    width: 100%
    margin-top: 0
.summary
    background-color: #f5f5f5
    width: 1000px
    padding: 15px 0
    font-family: $font-main
    max-width: 1000px
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    margin-bottom: 8px
    .promotion
        padding: 10px 0 0 0
        font-size: 1.2rem
    h1
        margin: 0
        padding: 0
    .post-job
        font-size: 1.5rem
        padding: 0
        margin: 0
        background-color: $blue
        color: #fff
        width: 200px
        height: 45px
        display: flex
        align-items: center
        justify-content: center
        border-radius: 5px
        margin-top: 10px
        transition: all 0.3s ease-in-out
        &:hover
            box-shadow: 2px 2px 10px $shadow
    a
        display: flex
        align-items: center
        justify-content: center
        text-decoration: none
        &:hover
            text-decoration: none
    .job-list
        width: 100%
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
.loading
    margin-top: 10%
    font-size: 2rem
.twitter-banner
    margin-top: 0
    margin-bottom: 0
    padding: 10px
    max-width: 1000px
    background-color: #fff
    span
        color: #000
        padding: 10px
.loading-spinner
    position: relative
    margin-top: 40px
.feat
    text-align: left
    width: 100%
    max-width: 1000px
    h2
        font-size: 1.8rem
        font-family: $font-main
.featured
    background-color: rgba($blue, 0.3)
