@import 'var'
.wrapper
    width: 100%
    margin-top: 0
.summary-wrapper
    width: 100%
    background-color: $off-white
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    text-align: center
.summary
    background-color: $off-white
    width: 1000px
    padding: 15px 0
    font-family: $font-main
    max-width: 1000px
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    margin-bottom: 8px
    .promotion
        padding: 10px 0 0 0
        font:
            family: $font-sec
            size: 1.2rem
    h1
        font:
            family: $font-main
            size: 2rem
        margin: 0
        padding: 0
    .post-job
        font:
            family: $font-main
            size: 1.5rem
        padding: 0
        margin: 0
        background-color: $purple
        color: #fff
        width: 200px
        height: 45px
        display: flex
        align-items: center
        justify-content: center
        border-radius: 5px
        margin-top: 10px
        transition: all 0.3s ease-in-out
        box-shadow: 0 0 10px $shadow
        &:hover
            box-shadow: 0px 0px 15px $shadow
    a
        display: flex
        align-items: center
        justify-content: center
        text-decoration: none
        &:hover
            text-decoration: none
    .job-list
        width: 100%
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
.loading
    margin-top: 10%
    font-size: 2rem
.twitter-btn
    margin-top: 30px
    margin-bottom: 0
.loading-spinner
    position: relative
    margin-top: 40px
.feat
    text-align: left
    margin-left: 25px
    h2
        font-size: 1.8rem
        font-family: $font-main
