@import 'var'
.featured
    background-color: rgba($blue, 0.1)
.postedOn
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    font-family: $font-main
    font-size: 1.5rem
    width: 100%
    .date
        color: $blue
        font:
            family: $font-main
            weight: bold
.underline
    border-bottom: solid
    border-width: thin
    border-color: $gray
    margin-top: 10px
.jobDetailsWrapper
    width: 100%
    display: flex
    justify-content: center
    flex-direction: column
    align-items: center
.jobDetails
    position: relative
    background-color: #fff
    box-shadow: 0 0 15px $shadow
    max-width: 1000px
    padding: 10px
    width: 100%
    text-align: left
    margin: 20px 0 50px 0
    span
        font-family: $font-main
        font-size: 2rem
        color: #7c7c7c
    h1, h2
        margin: 0 0 30px 0
        font-family: $font-sec
        font-size: 1.8rem
.applyTo
    margin-top: 20px
    margin-bottom: 20px
    background-color: $blue
    color: #fff
    width: 150px
    padding: 10px
    display: flex
    justify-content: center
    align-items: center
    border-radius: 30px
    cursor: pointer
    p
        font-size: 1.2rem
        padding: 0
        margin: 0
.job-summary
    font-family: $font-sec
    font-size: 1.1rem
    padding: 5px
    margin-bottom: 10px
    color: #000
.twitter-share
    width: 100%
    display: flex
    justify-content: center
    align-items: center
    margin-top: 10px
.center
    width: 100%
    padding: 15px 0
    font-family: $font-main
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
.applyInstructions
    margin-bottom: 5px
    p
        margin: 1px
        font-style: italic
