@import 'LandingPage'
@import 'var'
@import 'job'
@import 'boards'
@import 'mediaQueries'
@import 'article'
@import 'jobDetails'
@import 'search'
//----STYLES------------------
html,body
    font-size: 14px
.header
    position: absolute
    z-index: 2
    width: 100%
    height: 100%
    top: 0
header
    position: relative
    background:
        image: url(../images/beach-header.png)
        repeat: no-repeat
        size: cover
        position: center
    height: 30vh
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    h1
        font:
            family: $font-main
            size: 5rem
        margin: 0
        text-align: center
        color: #fff
.title
    display: flex
    flex-direction: row
    align-items: center
    justify-content: center
    z-index: 2
    img
        width: 30px
        height: 30px
        padding: 0
        margin: 0
        margin-top: 15px
        margin-left: 15px
.nav
    z-index: 2
    margin-top: 20px
    max-width: 800px
    display: flex
    flex-direction: row
    justify-content: space-between
    a
        text-decoration: none
        color: inherit
        margin: 0 25px 0 25px
        border-radius: 20px
    .main-btn
        span
            font:
                family: $font-main
                size: 1.5rem
                weight: 200
        cursor: pointer
        padding: 2px 0
        color: #fff
        width: 100px
        border-radius: 20px
        text-align: center
    #jobs
        background-color: $blue
    #places
        background-color: $purple
    #articles
        background-color: $red
//personal branding
.me
    color: #fff
    padding: 10px
    font-size: 1rem
    i
        margin-right: 5px
        font-size: 1.2rem
    span
        padding: 2px
.branding
    z-index: 2
    position: absolute
    right: 0
    bottom: 0
    opacity: 0.5
main
    position: relative
.admin
    h1
        text-align: center
