.wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 4%; }

.summary {
  max-width: 800px;
  font-family: "Titillium Web", sans-serif;
  font-size: 1.4rem; }
  .summary h2 {
    padding: 0;
    margin: 0; }

.job-info {
  width: 80%; }

.job-apply {
  width: 20%; }

.job-list {
  width: 100%;
  margin: 8px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.job {
  max-width: 1000px;
  height: 100px !important;
  border: solid;
  border-color: #E5E5E5;
  border-width: thin;
  width: 90%;
  position: relative; }
  .job .post-date {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #fff;
    border-right: solid;
    border-color: #E5E5E5;
    border-width: thin;
    color: #2B90D9;
    font-size: 1.4rem;
    font-family: "Titillium Web", sans-serif;
    height: 100%;
    width: 70px; }
    .job .post-date img {
      width: 62px; }
  .job .post-img {
    width: 70px; }
  .job .job-title {
    position: absolute;
    font-size: 1.4rem;
    font-family: "Titillium Web", sans-serif;
    top: 15px;
    left: 20px;
    width: 85%;
    text-align: left; }
  .job .job-company {
    position: absolute;
    font-size: 1.2rem;
    font-family: "Titillium Web", sans-serif;
    color: #909090;
    bottom: 15px;
    left: 20px; }
  .job .apply {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    border-radius: 30px;
    right: 10px;
    top: 30px;
    bottom: 30px;
    width: 100px;
    background-color: #2B90D9;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
    .job .apply span {
      color: #fff;
      font-size: 1.2rem;
      font-family: "Titillium Web", sans-serif; }
    .job .apply a {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      text-decoration: none;
      width: 100%;
      height: 100%; }
      .job .apply a:hover {
        text-decoration: none; }

.wrapper {
  width: 100%;
  margin-top: 0; }

.summary {
  background-color: #f5f5f5;
  width: 1000px;
  padding: 15px 0;
  font-family: "Titillium Web", sans-serif;
  max-width: 1000px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 8px; }
  .summary h1 {
    margin: 0;
    padding: 0; }
  .summary .post-job {
    font-size: 1.5rem;
    padding: 0;
    margin: 0;
    background-color: #2B90D9;
    color: #fff;
    width: 200px;
    height: 45px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 5px;
    margin-top: 10px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
    .summary .post-job:hover {
      box-shadow: 2px 2px 10px #a6a6a6; }
  .summary a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-decoration: none; }
    .summary a:hover {
      text-decoration: none; }
  .summary .job-list {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }

.loading {
  margin-top: 10%;
  font-size: 2rem; }

.twitter-banner {
  margin-top: 0;
  margin-bottom: 0;
  padding: 10px;
  max-width: 1000px;
  background-color: #fff; }
  .twitter-banner span {
    color: #000;
    padding: 10px; }

@media screen and (max-width: 450px) {
  .title h1 {
    font-size: 3.5rem; }

  .title img {
    margin-top: 10px !important;
    margin-left: 10px !important; }

  .main-btn {
    margin: 0 15px 0 15px !important; }

  .summary {
    width: 100%; }
    .summary h1 {
      font-size: 1.8rem; }

  .wrapper {
    margin-top: 0; }

  .job-title {
    font-size: 1.3rem !important;
    left: 5px !important;
    word-wrap: break-word;
    width: 95%;
    text-align: left;
    top: 10px !important; }

  .job-company {
    font-size: 1rem !important;
    left: 5px !important;
    bottom: 10px !important; }

  .job {
    width: 100% !important; }

  .apply {
    top: 0px !important;
    right: 0px !important;
    background-color: transparent !important;
    width: 100% !important;
    height: 100% !important;
    border-radius: 0 !important; }
    .apply a {
      right: 0 !important;
      top: 0 !important;
      bottom: 0 !important; }
      .apply a span {
        display: none; }

  .job.apply:hover {
    box-shadow: 0px 0px 0px #fff !important; }

  .apply:active {
    box-shadow: 0px 0px 0px #fff !important; }

  .twitter-banner span {
    display: none; } }
a {
  color: inherit;
  text-decoration: none; }
  a:hover {
    color: inherit;
    text-decoration: none; }

.card {
  width: 100%;
  max-width: 490px;
  position: relative;
  margin: 5px;
  box-shadow: 2px 2px 10px #a6a6a6;
  overflow: hidden; }

.card-info {
  margin: 10px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .card-info span {
    text-align: center;
    width: 100%;
    font-size: 1.5rem; }

.overlay {
  background-color: rgba(255, 116, 115, 0.9);
  position: absolute;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: -webkit-transform 0.2s ease 0s;
  transition: -webkit-transform 0.2s ease 0s;
  transition: transform 0.2s ease 0s;
  transition: transform 0.2s ease 0s, -webkit-transform 0.2s ease 0s;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  .overlay p {
    padding: 20px;
    color: #fff;
    font-size: 1.5rem;
    text-align: left; }
  .overlay span {
    font-size: 1.5rem;
    text-align: center;
    padding: 0; }

.card:hover .overlay {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1); }

.grid {
  max-width: 1000px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

html, body {
  font-size: 14px; }

.header {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0; }

header {
  position: relative;
  background-image: url(../images/beach-header.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 30vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  header h1 {
    font-family: "Titillium Web", sans-serif;
    font-size: 5rem;
    margin: 0;
    text-align: center;
    color: #fff; }

.title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 2; }
  .title img {
    width: 30px;
    height: 30px;
    padding: 0;
    margin: 0;
    margin-top: 15px;
    margin-left: 15px; }

.nav {
  z-index: 2;
  margin-top: 20px;
  max-width: 800px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .nav a {
    text-decoration: none;
    color: inherit; }
  .nav .main-btn {
    margin: 0 25px 0 25px;
    cursor: pointer;
    padding: 2px 0;
    color: #fff;
    width: 100px;
    border-radius: 20px;
    text-align: center; }
    .nav .main-btn span {
      font-family: "Titillium Web", sans-serif;
      font-size: 1.5rem;
      font-weight: 200; }
  .nav #jobs {
    background-color: #2B90D9; }
  .nav #places {
    background-color: #A593E0; }
  .nav #articles {
    background-color: #FF7473; }

.me {
  color: #fff;
  padding: 10px;
  font-size: 1rem; }
  .me i {
    margin-right: 5px;
    font-size: 1.2rem; }
  .me span {
    padding: 2px; }

.branding {
  z-index: 2;
  position: absolute;
  right: 0;
  bottom: 0;
  opacity: 0.5; }

main {
  position: relative; }

.admin h1 {
  text-align: center; }
