@import 'var'

@media screen and (max-width: 450px)
    .title h1
        font-size: 3.5rem
    .title img
        margin-top: 10px !important
        margin-left: 10px !important
    .main-btn
        margin: 0 15px 0 15px !important
    .summary
        width: 100%
        h1
            font-size: 1.8rem
            text-align: center !important
    .wrapper
        margin-top: 0
    .job-title
        font-size: 1.3rem !important
        left: 5px !important
        text-align: left
        top: 10px !important
        left: 85px !important
    .job-companymet
        font-size: 1rem !important
        left: 5px !important
        bottom: 10px !important
        left: 85px  !important
    .job
        width: 100% !important
    .apply
        width: 100% !important
        height: 100% !important
        top: 0 !important
        bottom: 0 !important
        right: 0 !important
        border-radius: 0 !important
        background-color: transparent !important
        a
            right: 0 !important
            top: 0 !important
            bottom: 0 !important
        span
            display: none

    .job.apply:hover
        box-shadow: 0px 0px 0px #fff !important
    .apply:active
        box-shadow: 0px 0px 0px #fff !important
    .twitter-banner
        span
            display: none
@media screen and (max-width: 380px)
    .summary h1
        font-size: 1.5rem
    .job-title
        font-size: 1.1rem !important
