@import 'var'

@media screen and (max-width: 450px)
    .title h1
        font-size: 3.5rem
    .title img
        margin-top: 10px !important
        margin-left: 10px !important
    .main-btn
        margin: 0 15px 0 15px !important
    .summary
        width: 100%
        h1
            font-size: 1.8rem
    .wrapper
        margin-top: 0
    .job-title
        font-size: 1.2rem !important
        left: 5px !important
        word-wrap: break-word
        width: 95%
        text-align: left
        top: 5px !important

    .job-company
        font-size: 1rem !important
        left: 5px !important
        bottom: 5px !important
    .job
        width: 100% !important
    .apply
        background-color: transparent !important
        margin-top: -30px !important
    .job.apply:hover
        box-shadow: none
    .job.apply
        a:active
            box-shadow: none
    .twitter-banner
        span
            display: none
